useDynLib(changepoint.np.new, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(ggplot2)

import(crops)
export(pelt)
export(pelt.crops)
exportMethods(plot)
exportMethods(changepoints)
exportMethods(cost)
exportMethods(summary)
exportMethods(show)
